body{
  width:700px;
  margin:20px auto;
  font-family:sans-serif;
}

h2{
  font-size:39px;
  line-height: 43px;
}
a{
  color :#276056;
}
article img{
  float:left;
  margin-right:30px;
}

.jaken a{
  font-style:italic;
  font-size:14px;
}
.jaken li{
  display:inline;
}
.preview{
  float:right;
  width:350px;
}
