body{
  width:700px;
  margin:20px auto;
  font-family:sans-serif;
}

article img{
  float:left;
  margin-right:30px;
}

article h1
{
  font-size:39px;
  line-height:43px;
}
a{
  color:#00cc00;
}
.jaken a{
  font-style: italic;
  font-size:14px;
}
.jaken li{
  display: inline;
}
.preview
{
  float:right;
  width:380px;
}
